* {
    font-family: "Inter", "Noto Sans", "Arial", sans-serif;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: #21222C;
    border-radius: 6px;
}

.modules-left {
    background: #21222C;
    border-radius: 24px;
}

.modules-center {
    background: #21222C;
    padding: 0px 15px;
    border-radius: 24px;
}

.modules-right {
    background: #21222C;
    padding: 0px 15px;
    border-radius: 24px;
}

#workspaces button {
    transition: all 0.1s linear;
    border-radius: 16px;
    margin: 4px 4px;
}

#workspaces button.active {
    background: #6E5A92;
    transition: all 0.1s linear;
    border-radius: 16px;
}

#workspaces button:hover {
    background: #6E5A92;
    border-radius: 16px;
}

#clock {
}

#pulseaudio {
    margin: 0px 0px;
}

#tray {
    margin-right: 15;
}